section .tracks {
    width: 100%;
    height: 100%;
    position: absolute;
}
.tracks {
    display: none;
}
.tracks.active {
    display: block;
}

.tracks-card {
    width: 550px;
    height: 550px;
    position: absolute;
    left: 37%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.img-wrap {
    position: absolute;
    transition: all .5s;
}
.img-wrap img {
    width: 550px;
    border: 1px solid #fff;
}
.img-wrap:hover {
    z-index: 2;
}

.img-wrap:nth-child(1) {
    right: 300px;
}
.img-wrap:nth-child(2) {
    right: 250px;
}
.img-wrap:nth-child(3) {
    right: 200px;
}
.img-wrap:nth-child(4) {
    right: 150px;
}
.img-wrap:nth-child(5) {
    right: 100px;
}
.img-wrap.active {
    right: 0;
    z-index: 3;
}

.lyric-space {
    width: 650px;
    height: 580px;
    position: absolute;
    left: 54%;
    top: 50%;
    transform: translateY(-50%);
}
.lyric-title h2 {
    font-size: 50px;
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.lyric-title h2.active {
    display: block;
}

.lyric {
    width: 500px;
    height: 486px;
    background-color: #292929;
    border: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: 0;
    overflow-y: scroll;
    display: none;
}
.lyric p {
    padding: 20px;
    line-height: 1.3rem;
}
.lyric.active {
    display: block;
}